<ul *ngIf="dataLoaded==false"  class="list-group">
  <li class="list-group-item active" aria-current="true">Renkler</li>
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ul>
<div class="mb-3">
  <label for="filterColorText" class="form-label">Renk Ara</label>
  <input type="text" [(ngModel)]="filterColorText" id="filterColorText"
  class="form-control"
  placeholder="Renk Giriniz...">
</div>
<ul *ngIf="dataLoaded==true" class="list-group">
  <button class="btn btn-success w-100" routerLink="/color/add">
    Renk Ekle
  </button><br>
  
  <li routerLink="/cars"
  [ngClass]="getAllColorClass()"
  (click)="removeCurrentColor()">Tüm Renkler</li><br>

  <li class="list-group-item active" aria-current="true">Renkler</li>

  <li (click)="setCurrentColor(color)"
  routerLink="/cars/color/{{color.colorId}}" 
  *ngFor="let color of colors | filterColorPipe:filterColorText" 
  [class]="getCurrentColorClass(color)">{{color.colorName |uppercase}}</li>
  
</ul>
