<div class="container mt-3">
  <mat-toolbar>
    <mat-icon>menu</mat-icon>
    <span>RentACar</span>
    <mat-icon>navigate_next</mat-icon>
    <span>Marka Listesi</span>&nbsp;
    <span class="example-spacer"></span>
    <mat-icon>directions_car_field</mat-icon>
  </mat-toolbar>
  <div class="search-div">
    <button mat-raised-button data-bs-toggle="modal" data-bs-target="#addBrandModal">
      <mat-icon>add</mat-icon>Marka Ekle
    </button>
    <mat-form-field class="search-form-field">
      <input matInput [(ngModel)]="searchKey" placeholder="Marka Ara" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8 mt-3 mb-3">
    <mat-table [dataSource]="listData" matSort>

      <ng-container matColumnDef="brandId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.brandId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="brandName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.brandName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row let element">
          <button mat-icon-button data-bs-toggle="modal" data-bs-target="#updateBrandModal"
            (click)="updateBrand(element)">
            <mat-icon>update</mat-icon>
          </button>
          <button mat-icon-button color="warn" data-bs-toggle="modal" data-bs-target="#deleteBrandModal"
            (click)="deleteBrand(element)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef="let row" colspan="6">
          Loading Data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef="let row" colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
      </mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>

<!--addBrandModal-->
<div class="modal fade" id="addBrandModal" tabindex="-1" aria-labelledby="addBrandModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddBrandTitle">Marka Ekle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="brandAddForm">
          <div class="row">
            <div class="col-8">
              <label for="brandName">Marka</label>
              <input type="text" class="form-control" id="brandName" formControlName="brandName">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button class="btn btn-success" (click)="addBrand()" data-bs-dismiss="modal">Kaydet</button>
      </div>
    </div>
  </div>
</div>
<!--end addBrandModal-->

<!--updateBrandModal-->
<div class="modal fade" id="updateBrandModal" tabindex="-1" aria-labelledby="updateBrandModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateBrandTitle">Marka Güncelle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="brandUpdateForm" *ngIf="brandUpdateForm">
          <div class="row">
            <div class="col-4">
              <label for="brandId">Id</label>
              <input type="number" class="form-control" id="brandId" name="brandId" formControlName="brandId" readonly>
            </div>
            <div class="col-8">
              <label for="brandName">Marka</label>
              <input type="text" class="form-control" id="brandName" formControlName="brandName">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button class="btn btn-primary" data-bs-dismiss="modal" (click)="btnUpdateBrand()">Kaydet</button>
      </div>
    </div>
  </div>
</div>
<!--end updateBrandModal-->

<!--deleteBrandModal-->
<div class="modal fade" id="deleteBrandModal" tabindex="-1" aria-labelledby="deleteBrandModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteBrandTitle">Marka Sil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="brandDeleteForm" *ngIf="brandDeleteForm">
          <div class="row">
            <div class="col-4">
              <label for="brandId">Id</label>
              <input type="number" class="form-control" id="brandId" name="brandId" formControlName="brandId" readonly>
            </div>
            <div class="col-8">
              <label for="brandName">Marka</label>
              <input type="text" class="form-control" id="brandName" formControlName="brandName" readonly>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button class="btn btn-danger" (click)="btnDeleteBrand()" data-bs-dismiss="modal">Sil</button>
      </div>
    </div>
  </div>
</div>
<!--end deleteBrandModal-->