<div *ngIf="carDetail" class="card mt-4">
  <div class="card-header text-center">
    <strong>İşlem Özeti</strong>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Başlangıç</th>
          <th>Bitiş</th>
          <th>Marka</th>
          <th>Renk</th>
          <th>Model Yılı</th>
          <th>Günlük</th>
          <th>Toplam</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ rental.rentDate }}</td>
          <td>{{ rental.returnDate }}</td>
          <td>{{ carDetail.brandName }}</td>
          <td>{{ carDetail.colorName }}</td>
          <td>{{ carDetail.carModelYear }}</td>
          <td>{{ carDetail.carDailyPrice | currency: "₺" }}</td>
          <td>
            <strong class="text-danger">{{
              amountOfPayment | currency: "₺"
              }}</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-4">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header fw-bold">
        <i class="bi-credit-card me-1"></i> Kart bilgilerinizi doldurun
      </div>
      <div *ngIf="cardAddForm" class="card-body">
        <form [formGroup]="cardAddForm" (ngSubmit)="add()">
          <div class="form-floating mb-3">
            <input type="text" id="nameOnTheCard" class="form-control" placeholder="nameOnTheCard"
              formControlName="nameOnTheCard" />
            <label for="nameOnTheCard">Kart Üzerindeki Ad ve Soyad</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" id="cardNumber" class="form-control" placeholder="cardNumber"
              formControlName="cardNumber" />
            <label for="cardNumber">Kart Numarası</label>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-floating mb-3">
                <input type="text" id="expirationDate" class="form-control" placeholder="expirationDate"
                  formControlName="expirationDate" />
                <label for="expirationDate">Son Kullanım Tarihi</label>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-floating mb-3">
                <input type="text" id="cardCvv" class="form-control" placeholder="cardCvv" formControlName="cardCvv" />
                <label for="cardCvv">CVV</label>
              </div>
            </div>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="save" formControlName="save" />
            <label class="form-check-label" for="save">
              Kart bilgilerimin kayıt edilmesini istiyorum.
            </label>
          </div>
          <div class="text-end">
            <button class="btn btn-primary">
              <i class="bi-credit-card-2-back me-1"></i> Ödeme Yap
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <app-card-saved (selectedCard)="setSelectedCard($event)"></app-card-saved>
  </div>
</div>