<div class="content">
    <div class="col-md-12">
      <div class="panel-footer text-center">
        <span class="d-block p-1 bg-primary text-white" style="margin-top: 10px">
          <h5>Renkler</h5>
        </span>
      </div>
        
      <div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status" >
        <span class="visually-hidden">Loading...</span>
      </div>
        
      <table *ngIf="dataLoaded == true" id="colorsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Id</th>
            <th>Renk Adı</th>
            <th style="text-align: center; width: 100px">
              <button type="button" data-func="dt-add" class="btn btn-success btn-xs dt-add formButton" data-bs-toggle="modal" data-bs-target="#addColorModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true">Ekle</span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let color of colors">
            <td>{{ color.colorId }}</td>
            <td>{{ color.colorName }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-xs formButton" data-bs-toggle="modal" data-bs-target="#updateColorModal" (click)="setSelectedColorToUpdate(color)" style="margin-right: 16px">
                <i class="fas fa-pen"></i>
              </button>
              <button type="button" class="btn btn-danger btn-xs formButton" data-bs-toggle="modal" data-bs-target="#deleteColorModal" (click)="setSelectedColorToDelete(color)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  
  <!--addColorModal-->
  <div class="modal fade" id="addColorModal" tabindex="-1" aria-labelledby="addColorModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AddColorTitle">Renk Ekle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="colorAddForm" >
            <div class="row">
              <div class="col-8">
                <label for="colorName">Renk</label>
                <input type="text" class="form-control" id="colorName" formControlName="colorName">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button class="btn btn-success" (click)="addColor()" data-bs-dismiss="modal" >Kaydet</button>
        </div>
      </div>
    </div>
  </div>
  <!--end addColorModal-->
  
  
  <!--updateColorModal-->
  <div class="modal fade" id="updateColorModal" tabindex="-1" aria-labelledby="updateColorModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateColorTitle">Renk Güncelle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="colorUpdateForm" *ngIf="colorUpdateForm">
            <div class="row">
              <div class="col-4">
                <label for="colorId">Id</label>
                <input type="number" class="form-control" *ngIf="selectedColor" id="colorId" name="colorId" formControlName="colorId" value="{{selectedColor.colorId}}" readonly>
              </div>
              <div class="col-8">
                <label for="colorName">Renk</label>
                <input type="text" class="form-control" *ngIf="selectedColor" id="colorName" formControlName="colorName" value="{{selectedColor.colorName}}">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button class="btn btn-primary" (click)="updateColor()" data-bs-dismiss="modal" >Kaydet</button>
        </div>
      </div>
    </div>
  </div>
  <!--end updateColorModal-->

  <!--deleteColorModal-->
  <div class="modal fade" id="deleteColorModal" tabindex="-1" aria-labelledby="deleteColorModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteColorTitle">Renk Sil</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="colorDeleteForm" *ngIf="colorDeleteForm">
            <div class="row">
              <div class="col-4">
                <label for="colorId">Id</label>
                <input type="number" class="form-control" *ngIf="selectedColor" id="colorId" name="colorId" formControlName="colorId" value="{{selectedColor.colorId}}" readonly>
              </div>
              <div class="col-8">
                <label for="colorName">Renk</label>
                <input type="text" class="form-control" *ngIf="selectedColor" id="colorName" formControlName="colorName" value="{{selectedColor.colorName}}" readonly>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button class="btn btn-danger" (click)="deleteColor()" data-bs-dismiss="modal" >Sil</button>
        </div>
      </div>
    </div>
  </div>
  <!--end deleteColorModal-->