<div class="container mt-3">
  <mat-toolbar>
    <mat-icon>menu</mat-icon>
    <span>RentACar</span>
    <mat-icon>navigate_next</mat-icon>
    <span>Renk Listesi</span>
    <span class="example-spacer"></span>
    <mat-icon>format_paint</mat-icon>
  </mat-toolbar>
  <div class="search-div">
    <button mat-raised-button data-bs-toggle="modal" data-bs-target="#addColorModal">
      <mat-icon>add</mat-icon>Renk Ekle
    </button>
    <mat-form-field class="search-form-field">
      <input matInput [(ngModel)]="searchKey" placeholder="Renk Ara" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8 mt-3 mb-3">
    <mat-table [dataSource]="listData" matSort>

      <ng-container matColumnDef="colorId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.colorId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="colorName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.colorName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row let element">
          <button mat-icon-button data-bs-toggle="modal" data-bs-target="#updateColorModal"
            (click)="updateColor(element)">
            <mat-icon>update</mat-icon>
          </button>
          <button mat-icon-button color="warn" data-bs-toggle="modal" data-bs-target="#deleteColorModal"
            (click)="deleteColor(element)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef="let row" colspan="6">
          Loading Data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef="let row" colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
      </mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>

<!--addColorModal-->
<div class="modal fade" id="addColorModal" tabindex="-1" aria-labelledby="addColorModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddColorTitle">Renk Ekle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="colorAddForm">
          <div class="row">
            <div class="col-8">
              <label for="colorName">Renk</label>
              <input type="text" class="form-control" id="colorName" formControlName="colorName">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button class="btn btn-success" (click)="addColor()" data-bs-dismiss="modal">Kaydet</button>
      </div>
    </div>
  </div>
</div>
<!--end addColorModal-->

<!--updateColorModal-->
<div class="modal fade" id="updateColorModal" tabindex="-1" aria-labelledby="updateColorModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateColorTitle">Renk Güncelle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="colorUpdateForm" *ngIf="colorUpdateForm">
          <div class="row">
            <div class="col-4">
              <label for="colorId">Id</label>
              <input type="number" class="form-control" id="colorId" name="colorId" formControlName="colorId" readonly>
            </div>
            <div class="col-8">
              <label for="colorName">Renk</label>
              <input type="text" class="form-control" id="colorName" formControlName="colorName">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button class="btn btn-primary" data-bs-dismiss="modal" (click)="btnUpdateColor()">Kaydet</button>
      </div>
    </div>
  </div>
</div>
<!--end updateColorModal-->

<!--deleteColorModal-->
<div class="modal fade" id="deleteColorModal" tabindex="-1" aria-labelledby="deleteColorModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteColorTitle">Renk Sil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="colorDeleteForm" *ngIf="colorDeleteForm">
          <div class="row">
            <div class="col-4">
              <label for="colorId">Id</label>
              <input type="number" class="form-control" id="colorId" name="colorId" formControlName="colorId" readonly>
            </div>
            <div class="col-8">
              <label for="colorName">Renk</label>
              <input type="text" class="form-control" id="colorName" formControlName="colorName" readonly>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button class="btn btn-danger" (click)="btnDeleteColor()" data-bs-dismiss="modal">Sil</button>
      </div>
    </div>
  </div>
</div>
<!--end deleteColorModal-->