<body class="text-center">
  <main class="form-signin">
    <form [formGroup]="loginForm">
      <h1 class="h3 mb-3 fw-normal">Giriş yap</h1>
      <div class="form-floating">
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">E-posta</label>
      </div>
      <div class="form-floating">
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Parola</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" (click)="login()">
        Giriş Yap
      </button>
      <div class="checkbox mt-3">
        <button routerLink="/auth/register" class="btn btn-info rounded-0">
          <i class="bi-plus-square me-1"></i> Üye Ol
        </button>
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
  </main>
</body>
