/* .body {
    height: 100%;
 }
 
 .form-control{
    border-radius: 0;
 }
 
 .form-control:focus{
    box-shadow: none;
    border-color: #0D6EFD;
 } */

img {
  border-radius: 50% !important;
  border-color: blue;
}
.user-heading a {
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  border: 10px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
}
