<!-- <div class="row text-center body">
    <div class="col-lg-4 mx-auto my-auto">
       <div class="display-6 mb-4">Güncelle</div>
       <div class="card rounded-0 shadow">
          <div class="card-header fw-bold">
             <i class="bi-bullseye me-2"></i> <span>Rent A Car</span>
          </div>
          <div class="card-body">
             <form [formGroup]="customerUpdateForm" (ngSubmit)="update()">
                <div class="row">
                   <div class="col-lg-6">
                      <div class="form-floating mb-3">
                         <input type="text" class="form-control" id="firstName"
                                formControlName="firstName" placeholder="firstName">
                         <label for="firstName">Adınız *</label>
                      </div>
                   </div>
                   <div class="col-lg-6">
                      <div class="form-floating mb-3">
                         <input type="text" class="form-control" id="lastName"
                                formControlName="lastName" placeholder="lastName">
                         <label for="lastName">Soyadınız *</label>
                      </div>
                   </div>
                </div>
                <div class="form-floating mb-3">
                   <input type="text" class="form-control" id="companyName"
                          formControlName="companyName" placeholder="companyName">
                   <label for="companyName">Şirket Adı</label>
                </div>
                <div class="form-floating mb-3">
                   <input type="email" class="form-control" id="email"
                          formControlName="email" placeholder="email">
                   <label for="email">E-Posta Adresiniz *</label>
                </div>
                <div class="form-floating mb-3">
                   <input type="password" class="form-control" id="password"
                          formControlName="password" placeholder="password">
                   <label for="password">Şifreniz *</label>
                </div>
                <div class="form-floating mb-3">
                   <input type="password" class="form-control" id="confirmPassword"
                          formControlName="confirmPassword" placeholder="confirmPassword">
                   <label for="confirmPassword">Şifrenizi Onaylayın *</label>
                </div> 
                <div class="row">
                   <div class="col-lg-6 my-auto text-start">
                      <i class="bi-bullseye ms-1"></i> RAC &copy;
                   </div>
                   <div class="col-lg-6">
                      <div class="d-grid">
                         <button class="btn btn-primary rounded-0">
                            <i class="bi-plus-square me-1"></i> Güncelle
                         </button>
                      </div>
                   </div>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div> -->

<div class="container mt-5">
   <div class="row">
      <div class="col-3">
         <div class="card" style="width: 18rem;">
            <div class="card-header user-heading p-4">
               <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="card-img-top rounded-circle  p-3">
            </div>
            <div class="card-body p-0">
               <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                  <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                  <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-9">
         <div class="row">
            <div class="card mb-3 p-0">
               <div class="card-header pt-4 pb-4 bg-warning">bismillah</div>
               <div class="card-body">
                  <div class="row">
                     <div class="col-6">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                           additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                     </div>
                     <div class="col-6">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                           additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>