<div class="row">
  <div class="mb-2 col-4">
    <select class="form-select rounded-0" [(ngModel)]="brandIdFilter">
      <option value="">Marka Seçiniz</option>

      <option *ngFor="let brand of brands" value="{{ brand.brandId }}">
        {{ brand.brandName }}
      </option>
    </select>
  </div>

  <div class="mb-2 col-4">
    <select class="form-select rounded-0" [(ngModel)]="colorIdFilter">
      <option value="">Renk Seçiniz</option>

      <option *ngFor="let color of colors" value="{{ color.colorId }}">
        {{ color.colorName }}
      </option>
    </select>
  </div>
  <div class="row col-4">
    <div class="col-lg mb-3 mb-lg-0">
      <div class="d-grid">
        <button class="btn btn-outline-primary" routerLink="/cars" (click)="clearFilter()">
          <i class="bi-backspace me-1"></i> Temizle
        </button>
      </div>
    </div>
    <div class="col-lg">
      <div class="d-grid">
        <button class="btn btn-primary" (click)="setFilteredRoute(brandIdFilter,colorIdFilter)">
          <i class="bi-search me-1"></i> Filtrele
        </button>
      </div>
    </div>
  </div>
</div>